@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


* {
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Inconsolata", monospace;
    font-weight: 300;
}

body {
    margin: 0px;
    background: #001021;
    color: rgb(238, 245, 248);
}

.secao-principal {
    background: rgb(15, 21, 37);
    /* background-color: purple; */
    margin: 50px auto;
    height: 800px;
    width: 1240px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    border-radius: 9px;
    /* background: green; */
    position: relative;
    height: 95%;
    width: 96%;
}

.conteudo>* {
    width: 585px;
    height: 715px;
    /* background: rgb(29, 35, 51); */
    border-radius: 9px;
    /* background: magenta */
}

.secao-topo {
    position: absolute;
    height: 25px;
    width: 100%;
    background: none;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.secao-topo a {
    text-decoration: none;
    color: rgb(238, 245, 248);
    background: rgb(29, 35, 51);
    padding: 13px 15px;
    border-radius: 9px;
}

.btn-exec {
    background: rgb(15, 108, 15) !important
}

textarea {
    border: 0;
    outline: none;
    resize: none;
    padding: 20px;
    width: calc(580px - 35px);
    color: rgb(238, 245, 248);
    background: rgb(29, 35, 51);

}

.secao-esquerda textarea {
    height: calc(100% - 45px - 50px);
}

.secao-header {
    border-bottom: 2px solid rgb(39, 46, 62);
    background: rgb(24, 30, 46);
    border-radius: 9px 9px 0 0;
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.secao-header .tab {
    border-right: 2px solid rgb(39, 46, 62);
    border-radius: 5px 5px 0 0;
    display: flex;
    width: fit-content;
    /* margin-bottom: -5px; */
    height: 50px;
    padding: 0px 25px;
    background: rgb(29, 35, 51);
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    font-size: 13px
}

.tab i {
    margin-right: 10px;
}

.tab {
    cursor: pointer;
}

.tab:hover,
.-off:hover {
    background: rgb(32, 39, 56) !important;
}

.tab.-off {
    background: rgb(24, 30, 46);
    /* padding: 0 !important; */
    height: 45px;
}

.secao-direita textarea {
    margin-bottom: 4px;
    height: 256px;
}

.secao-direita {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.secao-direita>* {
    position: relative
}

.copy {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 100%;
    width: 50px;

}

.copy a {
    padding: 10px;
    border-radius: 100%;
    text-decoration: none;
    color: rgb(238, 245, 248)
}